.app {
  text-align: center;
}

.app-logo {
  height: 80px;
  animation: app-logo-spin infinite 20s linear;
}

.app-header {
  height: 150px;
  padding: 20px;
  background-color: #222;
  color: white;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
